nav#main_navigation_header {
  background-color: $color-white;
}

@include media-breakpoint-md {
  nav#main_navigation_header {
    div.logo-wrapper {
      padding: 10px !important;
      a.logo {
        width: 70px;
        height: 70px;

        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
